@import '~/styles/000-abstracts/__abstracts-dir';

@import '~/styles/000-abstracts/mixins';

.leporello-graphic-real-item-wrap {
  border-top: solid $border-stroke-weight-s $light;
  background-color: $lightest;

  .leporello-graphic-real-item {

    &__image {
      background-color: $dark;
    }

    &__info{
      padding: $m;
    }

    &__further-info {
      max-height: auto;
      transition: all $tr-slow;
    }

    .-is-non-fading {
      z-index: $level-content;
    }

    &__title{
      font-size: $m;
      font-weight: $fw-semibold;
      margin-bottom: $m;
    }

    &__subheading{
      font-size: $m;
      font-weight: $fw-regular;
      margin-bottom: $m;
    }

    &__survey-title{
      font-size: $m * 0.8;
      font-weight: $fw-regular;
      margin-bottom: $m;
    }

    &__survey{
      margin-left: $m;
    }

    &__survey-tests{
    }

    &__survey-tests-title{
      font-weight: $fw-regular;

      &::after {
        content: ':';
      }
    }

    &__survey-test{
      margin-left: $m;

      & + .leporello-graphic-real-item__survey-test {
        border-top: solid $border-stroke-weight-s $darken-strong;
      }
    }

    // Responsive Large
    // --------------------------------------------------------------------------
    @media only screen and (min-width: $vp-large) {
      display: grid;
      grid-template-columns: 1fr $vp-medium;
    }
  }
}
