@import "~/styles/000-abstracts/__abstracts-dir";

.definition-list {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: $l;

  &__term {
    font-weight: $fw-regular;
    padding-top: $s;
    padding-bottom: $xxs;
    line-height: $lh-normal;

    &::after {
      content: ":"
    }

    &:last-of-type {
      border-bottom: none !important;
    }
  }

  .definition-list-term:last-child {
    border-bottom: none;
  }

  &__definition {
    border-bottom: solid $border-stroke-weight-s $darken-medium;
    display: flex;
    margin: 0;
    padding-bottom: $s;
    line-height: $lh-normal;

    &:last-child {
      border-bottom: none;
    }

    &>.literature-table {
      margin-top: -$xs;
    }
  }

  &-term+&-definition:not(:nth-child(2)),
  &-term:first-child+&-definition:nth-child(2) {

  }
}
